version: '3.8'

services:
  nextjs-app:
    image: ${DOCKER_USER}/univalle-nextjs-docker:latest
    container_name: univalle-nextjs-production
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - NEXT_PUBLIC_SUPABASE_URL=${NEXT_PUBLIC_SUPABASE_URL}
      - NEXT_PUBLIC_SUPABASE_ANON_KEY=${NEXT_PUBLIC_SUPABASE_ANON_KEY}
      - DATABASE_URL=${DATABASE_URL}
      - NEXT_PUBLIC_URL=${NEXT_PUBLIC_URL}
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
